streamlit==1.45.1

langchain==0.3.25
langchain-core==0.3.60
langchain-community==0.3.24
langchain-text-splitters==0.3.8
langchain-google-genai==2.1.4
langchain-huggingface==0.2.0

google-generativeai==0.8.5

sentence-transformers==4.1.0
transformers==4.51.3
huggingface-hub==0.31.2

faiss-cpu==1.11.0

pypdf==5.5.0

torch==2.7.0

numpy==2.2.5
pandas==2.2.3
python-dotenv==1.1.0